<html>
  <title>
    homepage</title>
      <body>
        <ul>
          <li>
            <a href="/">Home Page</a>
          </li>
          <li>
            <a href="/chennai">Chennai Page</a>
          </li>
          <li>
            <a href="/bangalore">Bangalore Page</a>
          </li>
          <li>
            <a href="/mumbai">Mumbai Page</a>
          </li>
          <li>
            <a href="/orissa">Orissa Page</a>
          </li>
        </ul>

        <h3><%=title%></h3>
        <h2><%=news%></h2>
        <h1>home Page</h1>
      </body>
    </html>